In [2]:
import pandas as pd

In [54]:
df_carac=pd.read_csv("/Users/durantonlucie/Desktop/data_vélos/caracteristiques_2021.csv", sep=";")

In [12]:
df_lieux=pd.read_csv("/Users/durantonlucie/Desktop/data_vélos/lieux_2021.csv", sep=';')

In [53]:
df_usagers=pd.read_csv("/Users/durantonlucie/Desktop/data_vélos/usagers_2021.csv", sep=';')

In [8]:
df_vehi=pd.read_csv("/Users/durantonlucie/Desktop/data_vélos/vehicules_2021.csv", sep=';')

In [16]:
#Conserver uniquement les accidents impliquant des vélos : catv=catégorie véhicule ==1
df_vehi_velo=df_vehi[df_vehi.catv==1]

In [1]:
#En cas d'accidents vélo vélo on ne conserve qu'une seule ligne du dataset
df_vehi_velo.drop_duplicates(subset="Num_Acc",inplace=True, keep='first')

NameError: name 'df_vehi_velo' is not defined

In [22]:
df_vehi_velo.reset_index()

,index,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,0,202100000001,201 764,B01,1,1,0,2,1,1,5,NaN
1,9,202100000006,201 752,B01,2,1,0,0,5,1,5,NaN
2,63,202100000038,201 693,B01,1,1,0,2,1,1,5,NaN
3,92,202100000051,201 658,A01,3,1,0,2,8,1,5,NaN
4,120,202100000070,201 625,B01,0,1,0,2,0,0,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5336,97018,202100056346,101 181,A01,1,1,0,1,1,13,0,NaN
5337,97041,202100056362,101 157,B01,2,1,0,2,0,1,5,NaN
5338,97119,202100056404,101 079,A01,1,1,0,2,1,25,5,NaN
5339,97159,202100056424,101 041,A01,1,1,0,2,1,1,5,NaN
5340,97298,202100056508,100 898,A01,2,1,0,0,8,1,5,NaN

In [32]:
#% de données manquantes
def missing(df,detail=False):
    total = 0
    for col in df.columns:
        miss = df[col].isnull().sum()
        pct = df[col].isna().mean() * 100
        total += miss
        print('{} => {} [{}%]'.format(col, miss, round(pct, 2)))
        total=0

In [25]:
df_vehi_velo.drop("occutc", axis=1, inplace=True)

/var/folders/d5/kqjp2_sd2bs4yr709x7mfz3w0000gn/T/ipykernel_14663/4065336059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vehi_velo.drop("occutc", axis=1, inplace=True)

In [27]:
df_f=df_vehi_velo

In [29]:
#drop les colonnes non utiles
df_f.drop(["id_vehicule","num_veh","senc","choc"],axis=1, inplace=True)

/var/folders/d5/kqjp2_sd2bs4yr709x7mfz3w0000gn/T/ipykernel_14663/3760606152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f.drop(["id_vehicule","num_veh","senc","choc"],axis=1, inplace=True)

In [36]:
#On supprime les colonnes inutile
df_lieux_m=df_lieux.drop(["voie","v1","v2","vosp",'pr',"pr1","lartpc"],axis=1)

In [40]:
#Création d'une colonne piste cyclable qui indique si oui on non k'accident état sur une piste cyclable

df_lieux_m["piste_cyclable"]=0
for i in range(len(df_lieux_m)):
    if df_lieux_m.situ[i]==5 :
        df_lieux_m.piste_cyclable[i]=1

In [47]:
df_lieux_m[df_lieux_m.situ==5]

,Num_Acc,catr,circ,nbv,prof,plan,larrout,surf,infra,situ,vma,piste_cyclable
54,202100000055,4,1,1,1,1,-1,1,0,5,50,1
95,202100000096,3,1,1,1,2,-1,2,9,5,50,1
100,202100000101,4,-1,1,1,1,-1,9,6,5,-1,1
135,202100000136,4,2,3,1,1,-1,1,0,5,5,1
220,202100000221,3,2,2,1,1,-1,1,0,5,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...
56280,202100056281,4,1,3,1,1,-1,2,-1,5,30,1
56281,202100056282,4,1,2,2,1,-1,1,-1,5,50,1
56400,202100056401,4,2,2,1,1,-1,1,0,5,50,1
56423,202100056424,4,1,1,2,1,-1,1,-1,5,50,1
56425,202100056426,4,1,3,1,1,-1,1,-1,5,50,1

In [79]:
#On merge sur le numéro d'accident en prenant à gauche le dataset sur lequel on a conservé uniquement les accidents qui impliquaient des vélos
new_df=df_f.merge(df_lieux_m, on="Num_Acc")

In [51]:
new_df.to_csv("/Users/durantonlucie/Desktop/data_vélos/merge_2021.csv")

In [58]:
#Suppression des colonnes inutiles du dataset carac
df_carac.drop(["jour","mois","an","dep",'col',"adr","lat",'long'],axis=1,inplace=True)

In [81]:
#On merge le dataset carac sur les deux précédents sur Num_ACC 
new_df=new_df.merge(df_carac,on="Num_Acc" )

In [67]:
#On supprime les colonnes inutiles du dataset usagers
df_usagers.drop(["id_vehicule","num_veh","place","trajet"],axis=1,inplace=True)

In [69]:
#Création d'une colonne casque inidquant si la personne impliquée dans l'accident portait un casque
df_usagers["casque"]=0
for i in range(len(df_usagers)):
    if df_usagers.secu1[i]==2 or df_usagers.secu2[i]==2 or df_usagers.secu3[i]==2:
        df_usagers.casque[i]=1

In [83]:
#Enlkeevr les doublons pour les accidents
df_usagers.drop_duplicates(subset="Num_Acc", keep='first', inplace=True)

In [84]:
#On merge usagers
new_df=new_df.merge(df_usagers, on="Num_Acc")

In [91]:
#Enregistrement du dataset 
new_df.to_csv("/Users/durantonlucie/Desktop/data_vélos/2021_soucre_truth_clean.csv")

In [86]:
#Extraction des données pour entrainement du modèle
df_Dylan=new_df[["Num_Acc","piste_cyclable","com"]]

In [88]:
df_Dylan.to_csv("/Users/durantonlucie/Desktop/data_vélos/Dylan.csv")

In [3]:
new_df=pd.read_csv("/Users/durantonlucie/Desktop/2021_soucre_truth_clean.csv")

In [6]:
#On groupby communes

#df_2=new_df.groupby('com').agg({'Num_Acc': 'count',"piste_cyclable": 'sum',"casque":"sum",'lum':'mean','an_nais':"mean"})

In [1]:
#code=pd.read_csv("/Users/durantonlucie/Desktop/code-postal-code-insee-2015.csv",sep=";")

NameError: name 'pd' is not defined

In [27]:
#df_2=df_2.reset_index()

In [28]:
#df_2

        com  Num_Acc  piste_cyclable  casque  lum  an_nais
0     01014        1               0       1  1.0   1951.0
1     01036        1               0       0  1.0   1959.0
2     01043        1               1       0  1.0   1992.0
3     01053        4               1       0  1.0   1984.0
4     01064        1               0       0  1.0   2010.0
...     ...      ...             ...     ...  ...      ...
1946  98747        1               0       0  1.0   1996.0
1947  98753        1               0       0  1.0   1977.0
1948  98758        1               0       1  1.0   1987.0
1949  98818       10               3       3  2.7   1966.8
1950  98821        1               0       0  3.0   1973.0

[1951 rows x 6 columns]

In [10]:
#code.columns

Index(['Geo Point', 'Geo Shape', 'ID_GEOFLA', 'CODE_COM', 'INSEE_COM',
       'NOM_COM', 'STATUT', 'X_CHF_LIEU', 'Y_CHF_LIEU', 'X_CENTROID',
       'Y_CENTROID', 'Z_MOYEN', 'SUPERFICIE', 'POPULATION', 'CODE_CANT',
       'CODE_ARR', 'CODE_DEPT', 'NOM_DEPT', 'CODE_REG', 'NOM_REG',
       'Nom_commune', 'Code_postal', 'Ligne_5', 'Libellé_d_acheminement',
       'coordonnees_gps'],
      dtype='object')

missing(code)

In [33]:
#missing(code)

Geo Point => 0 [0.0%]
Geo Shape => 0 [0.0%]
ID_GEOFLA => 0 [0.0%]
CODE_COM => 0 [0.0%]
INSEE_COM => 0 [0.0%]
NOM_COM => 0 [0.0%]
STATUT => 0 [0.0%]
X_CHF_LIEU => 0 [0.0%]
Y_CHF_LIEU => 0 [0.0%]
X_CENTROID => 0 [0.0%]
Y_CENTROID => 0 [0.0%]
Z_MOYEN => 0 [0.0%]
SUPERFICIE => 0 [0.0%]
POPULATION => 0 [0.0%]
CODE_CANT => 155 [0.38%]
CODE_ARR => 23 [0.06%]
CODE_DEPT => 0 [0.0%]
NOM_DEPT => 0 [0.0%]
CODE_REG => 0 [0.0%]
NOM_REG => 0 [0.0%]
Nom_commune => 1704 [4.19%]
Code_postal => 1704 [4.19%]
Ligne_5 => 36156 [88.99%]
Libellé_d_acheminement => 1704 [4.19%]
coordonnees_gps => 1704 [4.19%]

In [37]:
##code_2=code.dropna(axis=0, subset="Code_postal")

In [38]:
missing(code_2)

Geo Point => 0 [0.0%]
Geo Shape => 0 [0.0%]
ID_GEOFLA => 0 [0.0%]
CODE_COM => 0 [0.0%]
INSEE_COM => 0 [0.0%]
NOM_COM => 0 [0.0%]
STATUT => 0 [0.0%]
X_CHF_LIEU => 0 [0.0%]
Y_CHF_LIEU => 0 [0.0%]
X_CENTROID => 0 [0.0%]
Y_CENTROID => 0 [0.0%]
Z_MOYEN => 0 [0.0%]
SUPERFICIE => 0 [0.0%]
POPULATION => 0 [0.0%]
CODE_CANT => 155 [0.4%]
CODE_ARR => 23 [0.06%]
CODE_DEPT => 0 [0.0%]
NOM_DEPT => 0 [0.0%]
CODE_REG => 0 [0.0%]
NOM_REG => 0 [0.0%]
Nom_commune => 0 [0.0%]
Code_postal => 0 [0.0%]
Ligne_5 => 34452 [88.51%]
Libellé_d_acheminement => 0 [0.0%]
coordonnees_gps => 0 [0.0%]

In [41]:
#code_3=code_2[["POPULATION","Code_postal"]]

In [45]:
#code_4=code_3.rename(columns={"Code_postal":"com"})

In [54]:
#new_df.dtypes

Unnamed: 0          int64
Num_Acc             int64
catv                int64
obs                 int64
obsm                int64
manv                int64
motor               int64
catr                int64
circ                int64
nbv                 int64
prof                int64
plan                int64
larrout            object
surf                int64
infra               int64
situ                int64
vma                 int64
piste_cyclable      int64
hrmn               object
lum                 int64
com                object
agg                 int64
int                 int64
atm                 int64
catu                int64
grav                int64
sexe                int64
an_nais           float64
secu1               int64
secu2               int64
secu3               int64
locp                int64
actp                int64
etatp               int64
casque              int64
dtype: object

In [55]:
#code_4.com=code_4.com.astype(int)

In [60]:
#code_4.com=code_4.com.astype(str)

In [59]:
#list(pd.unique(new_df.com.astype(str)))

['30319',
 '68004',
 '71540',
 '31555',
 '60057',
 '90071',
 '84080',
 '98736',
 '91471',
 '11294',
 '33063',
 '33069',
 '73241',
 '74229',
 '61001',
 '88213',
 '61159',
 '73065',
 '36044',
 '78172',
 '69386',
 '38544',
 '69383',
 '13054',
 '13019',
 '38382',
 '75108',
 '87085',
 '35093',
 '65417',
 '33044',
 '38511',
 '97309',
 '45298',
 '19031',
 '66136',
 '76351',
 '37122',
 '13047',
 '57289',
 '73008',
 '10387',
 '65440',
 '56121',
 '49246',
 '97416',
 '78466',
 '54395',
 '38193',
 '91458',
 '68007',
 '09181',
 '75119',
 '69264',
 '27306',
 '75120',
 '71512',
 '22173',
 '29232',
 '80021',
 '80724',
 '77169',
 '53130',
 '35238',
 '27229',
 '02738',
 '75110',
 '80368',
 '50619',
 '16232',
 '86157',
 '78646',
 '60159',
 '94037',
 '91156',
 '13014',
 '75115',
 '98729',
 '91103',
 '49323',
 '81033',
 '75102',
 '65278',
 '64140',
 '37261',
 '09225',
 '69387',
 '64129',
 '03098',
 '75112',
 '93055',
 '12177',
 '29195',
 '60367',
 '83137',
 '83141',
 '54482',
 '17306',
 '13075',
 '94046',
 '98818',
 '69286',
 '67482',
 '64102',
 '45068',
 '75111',
 '75107',
 '94002',
 '71498',
 '32107',
 '49292',
 '91312',
 '59350',
 '80205',
 '64213',
 '24189',
 '64445',
 '92012',
 '60129',
 '66088',
 '69385',
 '91223',
 '57487',
 '75109',
 '75117',
 '75114',
 '75113',
 '54108',
 '29206',
 '72054',
 '45195',
 '85160',
 '80576',
 '69382',
 '69381',
 '91477',
 '72003',
 '67447',
 '62224',
 '56260',
 '45147',
 '44114',
 '92044',
 '70433',
 '77048',
 '48095',
 '47001',
 '33318',
 '06029',
 '75118',
 '92036',
 '02232',
 '45193',
 '68278',
 '2A004',
 '86158',
 '64348',
 '57306',
 '75116',
 '59569',
 '49353',
 '74081',
 '34003',
 '29019',
 '92076',
 '01064',
 '35047',
 '79100',
 '77103',
 '51454',
 '97206',
 '89387',
 '97407',
 '91122',
 '77268',
 '62239',
 '59410',
 '59386',
 '49007',
 '45284',
 '44109',
 '37233',
 '17300',
 '15014',
 '14118',
 '13212',
 '75103',
 '98733',
 '26347',
 '92049',
 '92024',
 '49377',
 '79270',
 '75101',
 '69081',
 '91687',
 '78551',
 '78498',
 '68166',
 '59205',
 '59650',
 '57412',
 '17415',
 '75105',
 '75104',
 '92032',
 '60233',
 '83008',
 '26220',
 '67365',
 '18197',
 '36226',
 '71176',
 '14191',
 '39189',
 '34123',
 '74258',
 '92040',
 '97422',
 '29037',
 '38565',
 '33256',
 '74010',
 '95598',
 '59009',
 '49015',
 '11069',
 '94016',
 '93063',
 '92026',
 '84062',
 '34204',
 '29224',
 '97302',
 '94068',
 '92025',
 '83069',
 '63113',
 '31483',
 '08105',
 '60338',
 '74305',
 '97411',
 '91657',
 '14167',
 '75106',
 '94041',
 '94018',
 '65304',
 '67302',
 '56110',
 '52250',
 '57505',
 '05087',
 '59601',
 '91027',
 '78015',
 '77296',
 '64269',
 '63075',
 '59017',
 '56162',
 '54197',
 '34172',
 '13208',
 '49035',
 '93051',
 '92046',
 '35070',
 '44184',
 '78440',
 '35115',
 '93007',
 '92050',
 '22168',
 '88463',
 '93071',
 '72334',
 '77453',
 '79191',
 '78401',
 '76498',
 '33522',
 '33281',
 '29039',
 '09122',
 '13069',
 '29181',
 '76238',
 '50567',
 '01069',
 '06065',
 '83062',
 '92047',
 '25056',
 '97409',
 '72181',
 '35051',
 '29051',
 '06088',
 '94033',
 '92072',
 '92064',
 '38373',
 '97303',
 '94080',
 '93070',
 '92048',
 '44030',
 '97112',
 '14488',
 '22081',
 '38185',
 '35024',
 '93032',
 '88516',
 '81225',
 '83129',
 '78029',
 '76540',
 '10362',
 '68269',
 '50298',
 '69259',
 '87114',
 '63164',
 '28404',
 '24037',
 '10321',
 '92051',
 '51346',
 '76595',
 '93048',
 '92022',
 '84069',
 '55083',
 '62865',
 '71486',
 '69115',
 '54304',
 '29058',
 '94073',
 '62105',
 '62727',
 '45302',
 '14327',
 '14100',
 '77037',
 '51146',
 '14740',
 '40317',
 '69244',
 '13004',
 '57124',
 '97101',
 '10333',
 '49030',
 '68287',
 '22008',
 '97209',
 '74012',
 '33119',
 '26198',
 '94076',
 '62502',
 '44154',
 '56098',
 '31022',
 '66021',
 '79049',
 '22388',
 '91691',
 '93064',
 '31035',
 '53155',
 '74165',
 '78486',
 '64132',
 '39434',
 '95042',
 '92020',
 '44195',
 '70550',
 '69266',
 '59178',
 '58194',
 '54159',
 '45234',
 '34032',
 '93066',
 '51287',
 '44029',
 '69069',
 '69034',
 '93005',
 '12208',
 '28022',
 '85215',
 '38416',
 '90044',
 '95394',
 '74079',
 '59133',
 '18279',
 '94011',
 '86183',
 '45146',
 '67329',
 '54196',
 '44215',
 '50129',
 '44162',
 '14137',
 '12176',
 '93059',
 '01075',
 '83057',
 '38140',
 '14172',
 '97304',
 '13096',
 '06123',
 '33009',
 '59456',
 '56107',
 '07281',
 '49307',
 '68192',
 '43216',
 '98724',
 '38236',
 '59220',
 '59317',
 '01053',
 '39261',
 '70356',
 '2A247',
 '21231',
 '92062',
 '61345',
 '70427',
 '10063',
 '88075',
 '33199',
 '91216',
 '10357',
 '94043',
 '06038',
 '48072',
 '55069',
 '91114',
 '76217',
 '59371',
 '56226',
 '14691',
 '47201',
 '74080',
 '64335',
 '33075',
 '33200',
 '44063',
 '89085',
 '26313',
 '85092',
 '59523',
 '51055',
 '43157',
 '17461',
 '13209',
 '92035',
 '92007',
 '33138',
 '42210',
 '29061',
 '38006',
 '37179',
 '33442',
 '95607',
 '31149',
 '03190',
 '52538',
 '26252',
 '74056',
 '85009',
 '60141',
 '60684',
 '69003',
 '81018',
 '13214',
 '68173',
 '07188',
 '85090',
 '63204',
 '38087',
 '17051',
 '54578',
 '17028',
 '56140',
 '58050',
 '78246',
 '2A041',
 '13020',
 '14758',
 '63300',
 '44143',
 '37208',
 '93073',
 '32155',
 '53150',
 '85047',
 '95371',
 '38061',
 '76382',
 '74008',
 '54547',
 '37214',
 '22113',
 '06004',
 '93031',
 '26235',
 '33238',
 '93008',
 '28158',
 '60029',
 '59602',
 '59581',
 '78124',
 '05061',
 '77288',
 '59648',
 '94034',
 '93074',
 '92004',
 '31448',
 '54205',
 '30212',
 '29057',
 '38169',
 '13210',
 '29220',
 '60509',
 '69388',
 '67261',
 '14149',
 '07160',
 '45191',
 '45346',
 '29006',
 '41194',
 '45004',
 '59636',
 '33167',
 '51122',
 '69046',
 '61422',
 '50252',
 '67492',
 '77059',
 '71475',
 '62193',
 '59599',
 '83148',
 '57102',
 '69234',
 '59360',
 '41018',
 '94077',
 '93029',
 '97410',
 '32208',
 '17385',
 '63213',
 '65320',
 '84087',
 '59654',
 '49099',
 '11262',
 '06027',
 '77327',
 '81187',
 '33540',
 '84068',
 '04019',
 '49283',
 '70210',
 '14200',
 '29021',
 '60450',
 '83126',
 '69092',
 '26281',
 '24102',
 '24138',
 '94028',
 '93077',
 '57097',
 '65360',
 '85172',
 '74280',
 '66050',
 '34337',
 '69154',
 '64237',
 '05023',
 '83018',
 '44071',
 '27185',
 '01249',
 '83034',
 '77373',
 '45232',
 '35241',
 '33550',
 '33249',
 '31069',
 '13001',
 '44097',
 '50593',
 '95253',
 '59263',
 '80766',
 '63092',
 '33415',
 '81004',
 '94003',
 '92075',
 '65031',
 '38229',
 '16089',
 '30356',
 '09103',
 '07130',
 '35131',
 '42155',
 '26064',
 '91549',
 '91377',
 '68066',
 '50173',
 '45208',
 '17291',
 '14487',
 '94067',
 '94055',
 '94017',
 '93078',
 '92073',
 '31573',
 '88106',
 '74088',
 '31182',
 '50273',
 '10209',
 '21180',
 '44066',
 '79048',
 '60446',
 '59051',
 '91645',
 '64284',
 '33529',
 '92002',
 '47073',
 '95592',
 '78615',
 '44026',
 '59146',
 '60175',
 '94058',
 '71029',
 '85127',
 '38317',
 '24405',
 '37139',
 '97307',
 '84067',
 '38563',
 '78638',
 '13081',
 '38562',
 '69142',
 '64024',
 '94048',
 '93053',
 '44028',
 '06018',
 '71118',
 '28085',
 '25462',
 '56091',
 '2B299',
 '86277',
 '68349',
 '68334',
 '78358',
 '71076',
 '69096',
 '51108',
 '94054',
 '93006',
 '97415',
 '57527',
 '56119',
 '2B283',
 '64094',
 '81283',
 '33056',
 '85194',
 '69091',
 '71340',
 '49218',
 '68290',
 '35353',
 '83101',
 '57212',
 '59558',
 '94022',
 '42213',
 '32426',
 '50236',
 '85282',
 '38486',
 '29295',
 '01451',
 '94004',
 '93046',
 '25116',
 '67073',
 '87154',
 '91161',
 '61397',
 '06069',
 '94081',
 '79235',
 '16104',
 '69249',
 '54339',
 '51649',
 '52076',
 '67548',
 '44145',
 '03053',
 '90097',
 '08190',
 '80489',
 '76447',
 '30189',
 '34217',
 '65017',
 '11305',
 '33042',
 '77186',
 '32013',
 '84111',
 '74208',
 '14256',
 '77464',
 '59512',
 '13097',
 '67205',
 '62318',
 '91347',
 '77462',
 '77495',
 '76157',
 '45285',
 '13211',
 '04112',
 '94015',
 '93072',
 '25222',
 '29269',
 '30139',
 '59378',
 '50532',
 '50602',
 '38179',
 '31557',
 '93001',
 '71443',
 '76304',
 '33394',
 '61484',
 '46273',
 '57535',
 '33483',
 '35191',
 '69152',
 '91215',
 '76026',
 '49017',
 '26002',
 '63302',
 '39354',
 '14371',
 '29233',
 '13015',
 '52121',
 '19272',
 '29146',
 '14339',
 '30133',
 '91292',
 '74082',
 '47032',
 '27684',
 '51326',
 '62019',
 '54328',
 '79205',
 '71305',
 '86177',
 '38345',
 '40046',
 '17447',
 '78263',
 '33548',
 '69275',
 '59508',
 '57757',
 '93061',
 '22182',
 '25320',
 '29260',
 '73002',
 '73053',
 '92023',
 '59083',
 '97213',
 '62688',
 '18226',
 '97103',
 '83016',
 '69256',
 '65226',
 '59328',
 '59183',
 '05027',
 '74299',
 '49235',
 '10251',
 '85012',
 '29041',
 '60471',
 '69036',
 '50612',
 '35002',
 '54067',
 '67194',
 '65057',
 '63195',
 '05092',
 '97305',
 '13005',
 '03001',
 '62571',
 '34178',
 '03029',
 '54157',
 '14193',
 '73308',
 '40255',
 '05079',
 '04143',
 '07324',
 '85198',
 '82121',
 '62413',
 '64256',
 '48194',
 '45210',
 '33517',
 '60170',
 '26362',
 '62643',
 '45274',
 '86276',
 '03024',
 '14384',
 '64260',
 '93010',
 '56178',
 '56147',
 '79195',
 '79009',
 '70421',
 '44182',
 '07329',
 '30059',
 '59659',
 '22278',
 '86174',
 '63116',
 '26183',
 '85018',
 '87030',
 '88426',
 '31044',
 '89420',
 '38427',
 '74133',
 '59431',
 '57672',
 '13206',
 '14764',
 '01092',
 '69279',
 '74213',
 '71318',
 '61168',
 '44005',
 '45061',
 '64065',
 '47094',
 '62793',
 '44126',
 '29165',
 '38150',
 '01036',
 '01043',
 '83123',
 '54411',
 '84008',
 '62439',
 '62205',
 '29018',
 '38449',
 '65123',
 '25058',
 '33214',
 '73114',
 '56114',
 '91685',
 '59352',
 '33162',
 '38115',
 '33046',
 '63037',
 '47054',
 '72349',
 '05164',
 '83083',
 '08291',
 '68106',
 '68145',
 '67263',
 '09334',
 '86194',
 '93027',
 '69029',
 '34169',
 '16003',
 '33449',
 '65100',
 '40192',
 '42302',
 '90063',
 '74221',
 '55435',
 '63219',
 '82187',
 '39255',
 '31317',
 '38547',
 '43039',
 '85204',
 '84129',
 '83064',
 '17380',
 '71145',
 '81192',
 '03044',
 '43130',
 '43016',
 '42279',
 '49023',
 '46059',
 '29273',
 '50267',
 '50260',
 '40266',
 '13073',
 '81271',
 '78640',
 '46157',
 '31113',
 '45272',
 '17208',
 '97102',
 '67118',
 '59477',
 '87113',
 '19001',
 '56166',
 '29020',
 '77493',
 '03018',
 '38463',
 '38158',
 '72381',
 ...]

In [56]:
#new_df.com=new_df.com.astype(int)

ValueError: invalid literal for int() with base 10: '2A004'

In [63]:
#len(code_4)

38925

In [65]:
#len(pd.unique(code_4.com))

6187

In [66]:
#len()

5341

In [67]:
#maxi=code_4.merge(df_2, on="com")

In [69]:
#maxi

,POPULATION,com,Num_Acc,piste_cyclable,casque,lum,an_nais
0,319,32160,1,0,1,1.000000,1954.000000
1,679,32160,1,0,1,1.000000,1954.000000
2,212,32160,1,0,1,1.000000,1954.000000
3,198,32160,1,0,1,1.000000,1954.000000
4,172,32160,1,0,1,1.000000,1954.000000
...,...,...,...,...,...,...,...
1026,1314,71118,3,1,1,1.333333,1979.333333
1027,98135,69003,1,0,1,1.000000,1975.000000
1028,47869,13004,2,0,0,1.000000,1962.000000
1029,62308,59650,1,0,0,1.000000,1983.000000
1030,28784,91330,1,0,0,1.000000,1939.000000

In [35]:
#pd.unique(code.Code_postal.astype(int))

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [31]:
#code.Code_postal.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer